.main_div_of_navbar_2 .Header_Of_Login{
    background: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 10000;
}


.main_div_of_navbar_2 .style_of_logo{
    height: 40px;
    width:120px;
}
.main_div_of_navbar_2 .div_of_navs{
    /* vertical-align: text-bottom; */
    float: right;
    /* justify-content: space-around;
    width: 45%; */
    display: flex;
    /* margin-top: 12px */
}
.main_div_of_navbar_2 .alignMiddle{
    /* margin-top: 10px; */
    margin: 10px 15px 0px 0px
}
.main_div_of_navbar_2 .defaultLinks{
    color:black;
    font-size: 16px;   
}

.main_div_of_navbar_2 .defaultLinks:hover{
    color:black;   
}

.main_div_of_navbar_2 .div_of_log_N_menu{
    
    display: inline-flex;
    justify-content: space-between;
}

.main_div_of_navbar_2 .defaultIconStyle{
  font-size: 25px;
}