* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-family: 'Mukta Vaani', sans-serif;
    letter-spacing: 0.0625em;
}

body{
    background-color: #efefef
}
.main_div_of_login .center{
    text-align: center
}

.main_div_of_login .log_in_to_see{
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    line-height: 1;

}
.main_div_of_login .free_account{
    line-height: 0;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);

}
.main_div_of_login .access_pinterest{
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);

}
.main_div_of_login .form-control{
    display: initial;

}
.main_div_of_login .form-control:focus{
    border: 1px solid grey;
    box-shadow: none
}
.main_div_of_login .formm{
    margin-top: 3%;

}
.main_div_of_login .login_btn{
    width: 100%;
    font-weight: bold;
    font-size: 15px;
}
.main_div_of_login .OR{
    margin: 3% auto;
    font-weight: bold;
    font-size: 10px;
}
.main_div_of_login .by_continuing{
    font-size: 10px;
    color: #d8d8d8;
    font-weight: bold;
    margin-top: 4%;

}
.main_div_of_login .terms_of{
    color: #909090;
    font-weight: bold;
    font-size:10.5px 
}
.main_div_of_login .border_line{
    border-bottom: 1px solid grey;
    width: 48%;
    margin-left: 26.5%;
    margin-top: 3%;
}
.main_div_of_login .forgot_pass a{
color: #8b8787;
font-weight: bold;
text-decoration: none;
font-size: 12px;

}
.main_div_of_login .not_on_pinterest{
    color: #8b8787;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
}
.main_div_of_login .not_on_pinterest a{
    color: #8b8787;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
}

.main_div_of_login .fb_btn{
    color: 	#FFFFFF;
    background:#3b5998;
    border: #3b5998;
    width: 100%;
    font-size: 13px;
}


.main_div_of_login .google_btn{
    margin-top: 4%;
    color: 	#FFFFFF;
    background:#db3236;
    border: #db3236;
    /* background:#4285f4; */
    width: 100%;
    font-size: 13px;


}

.main_div_of_login .sign_up{

    color: #3b5998 !important;
    cursor: pointer !important;

}







